<!doctype html>
<html>
<head>
    <title>Hidogs</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://localhost:3000/lib/pingpp_pay.js"></script>
</head>
<body>
<h1 id="main-title">Hidogs Test</h1>

<div id="react-main-mount">
    <%- reactOutput %>
</div>

<!-- comment out main.js to see server side only rendering -->
<script src="/main.js"></script>

</body>
</html>
