body {
    background-color: #E6F6FF;
    color: #2B97E8;
}

.footer {
    background: rgba(230,246,255,0.95);
    border-color: rgba(43,151,232,0.25);
}

.btn-hd-blue {
    border: 1px solid #51A7F9;
    color: #51A7F9;
}

.btn-hd-blue:focus, .btn-hd-blue:hover, .btn-hd-blue:active:focus, .btn-hd-blue.active:focus {
    border: 1px solid #51A7F9;
    color: #51A7F9;
}

.hg-navbar {
    background: rgba(201,231,253,0.95);
    border-color: rgba(43,151,232,0.25);
}

.hg-navbar {
    background: rgba(201,231,253,0.95);
    border-color: rgba(43,151,232,0.25);
}

.hg-navbar .navbar-brand {
    color: #2B97E8;
}


.blue-background-decoration {
    background: linear-gradient(to bottom,rgba(8,123,240,.15),rgba(23,158,211,0));
}

hr {
    border-top-color: rgba(43,151,232,0.25);
}

.hg-table, .hg-table td {
    border-color: #2B97E8;
}