body {
    background-color: #edfff8;
    color: #20af74;
}

.footer {
    background: rgba(237,255,248,0.95);
    border-color: rgba(32,175,116,0.25);
}

.btn-hd-blue {
    border: 1px solid #20af74;
    color: #20af74;
}

.btn-hd-blue:focus, .btn-hd-blue:hover, .btn-hd-blue:active:focus, .btn-hd-blue.active:focus {
    border: 1px solid #20af74;
    color: #20af74;
}

.btn-hd-blue.btn-hd-active {
    border: 1px solid #20af74;
    color: white;
    background-color: #20af74;
}

.hg-navbar {
    background: rgba(213,245,231,0.95);
    border-color: rgba(32,175,116,0.25);
}

.hg-navbar .navbar-brand {
    color: #20af74;
}


.blue-background-decoration {
    background: linear-gradient(to bottom,rgba(32,175,116,.15),rgba(237,255,248,0));
}

hr {
    border-top-color: rgba(32,175,116,0.25);
}

.hg-table, .hg-table td {
    border-color: #20af74;
}