<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>欢宠</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/hgbasic.css" rel="stylesheet">
    <link href="../../css/hgred.css" rel="stylesheet">
    <link href="../../css/hglove.css" rel="stylesheet">
    <link href="../../css/font-awesome.min.css" rel="stylesheet">
</head>
<body ontouchstart="">

<div id="react-main-mount">
    <div class="hg-love" id="react_body">

        <div class="container blue-background-decoration"></div>

        <nav class="navbar navbar-default navbar-fixed-top hg-navbar love-profile">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">欢宠</a>
                    <p class="navbar-text">
                        解救单身狗
                    </p>
                </div>
            </div>
        </nav>

        <div class="container text-center">

            <img src="../../img/logo-dog-1.png"/>

            <h2 class="voffset0">请在微信中打开连接</h2>

            <div>您可以通过微信扫描以下二维码,参与欢宠"解救单身狗"活动</div>

            <div class="voffset10">
                <img src="../../img/qcode129x.png"/>
            </div>




        </div>

    </div>
</div>

<script src="../../lib/jquery-2.1.4.min.js"></script>
<script src="../../lib/bootstrap.min.js"></script>
</body>
</html>